.bg-gray
{
    background-color: lightgray;
    margin-bottom: 20px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 2px;
}
#bg-index
{
    background-color: #A4B7C3;
}

#bg-alex10
{
    background-color: #D0CFBC;
}

#bg-santi10
{
    background-color: #E1D1E7;
}


